body {
    background-color: #e6e8fa;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main {
    padding: 88px;
}

/* frequently used */
.main-con {
    margin-bottom: 48px
}

.main-t {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}

.main-list {
    padding: 0 0 0 14px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 12px 0 8px 0;
}

/* Me */
.my-prof {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 18px 0;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 525px;
    margin: 0 0 64px 0;
}

/* Projects */
.project-it {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-it-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-it-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #005FFF;
}

/* Experience */
.wex-pos {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.wex-com {
    margin-bottom: 16px;
}

.wex-f {
    color: #6D9BF5;
}

.wex-d {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Education */
.uni {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #6D9BF5;
    margin: 12px 0 12px 0;
}

.edu-m {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}

/* sidebar */
.sidebar {
    Width: 370px;
    background: #FFECFD;
}

.photo {
    margin-top: 40px;
}

.side-con {
    margin: 48px 0 0 40px;
}

.side-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161D2A;
    margin-bottom: 8px;
}

/* Contacts */
.cont-it {
    margin: 0;
}

.cont-t {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
    margin-right: 8px;
}

.cont-phon {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.cont-em {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2979FF;
}

/* Skills */
.skil-ul {
    padding: 0;
    margin: 0 0 0 12px;
}

.skil-li {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #6D9BF5;
}

.skil-li-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}